<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
    <add name="dbConnection" connectionString="Data Source=.\SQLExpress; Initial Catalog= db_SchoolMgtSystem; User Id=Admin_SchoolMgtSystem; Password=Admin_SchoolMgtSystem; Integrated Security=true; Pooling=False;" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <!-- other configuration sections -->
    <siteMap defaultProvider="myMenuSiteMap1" enabled="true">
      <providers>
        <clear />
        <add
         name="myMenuSiteMap1"
         description="Menu SiteMap provider"
         type="System.Web.XmlSiteMapProvider"
         siteMapFile="Web.sitemap" />
        <add
         name="myMenuSiteMap2"
         description="Menu SiteMap provider"
         type="System.Web.XmlSiteMapProvider"
         siteMapFile="admin/Web_Admin.sitemap" />
      </providers>
    </siteMap>
  </system.web>

</configuration>
